<nav>
  <ul>
    <li>
      <a href="/">Home </a>
    </li>
    <li>
      <a href="/contact">Contact </a>
    </li>
    <li>
      <a href="/profile/daniel">Go to a profile</a>
    </li>
    <li>
      <a href="/contact?email=ddeutsch1@gmx.at&person=daniel">Contact daniel</a>
    </li>







  </ul>
</nav>
