<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Site</title>
    <style>
      body{background: silver; color:red; text-align:center;}
      ul{list-style-type:none;}
    </style>
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>CONTACT TEMPLATE</h1>
    <p>Lorem ipsum dolor sit amet, officia deserunt mollit anim id est laborum.</p>


  </body>
</html>
